section.footer
  .container
    .row
      .col-md-3
        img.footer-logo(src='../../images/triptok.png' alt='')
        p &copy; Copyright HTTP5222, 2024. By Abbas-Vaziri
      .col-md-3
        h4 Features
        p Deals &amp; Offers
        p Customer Reviews
        p Cancelation Policies
      .col-md-3
        h4 Quick Contact
        p
          i.fa-solid.fa-square-phone
          | +1 6473255555
        p
          i.fa-solid.fa-envelope
          | Vaziri.as@gmail.com
        p
          i.fa-solid.fa-house
          | Bayview Village, North York, ON
      .col-md-3
        h4 Follow Me on
        p
          i.fa-brands.fa-facebook-f
          | Facebook
        p
          i.fa-brands.fa-youtube
          | Youtube
        p
          i.fa-brands.fa-twitter
          | Twitter